.gallery {
  list-style: none;
  padding: 0;
  margin: 24px 156px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  width: calc(33.33% - 24px);
  margin-bottom: 24px;
  box-sizing: border-box;
}

.gallery-item img {
  object-fit: cover;
  width: 360px;
  height: 200px;
}

.gallery-image {
  transition: transform 0.8s ease;
}

.gallery-image:hover {
  transform: scale(1.1);
  width: 376px;
  height: 208px;
}
